body, html {
  height: 100%;
}

section {
  padding: 150px 0;
}

.bg { 
  /* The image used */
  background-image: url(../../images/pop1accueil.jpg);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/*produit*/
.produit{
  background-color: #8F8F8F;
}

.produitbas{
  padding-top: 15%;
}


/*formulaire de contact*/

.contact-form .form-control{
    border-radius:1rem;
}

.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

