body, html {
  height: 100%;
}

section {
  padding: 100px 0;
}

header{
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url(../../images/pop1accueil.jpg);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*produit*/
.produit{
  /*padding-top: 100vh;*/
  background: url(../../images/fondCailloux.jpg);
  position: relative;
  background-attachment: fixed; 
  padding: 100px;
  margin : 0;
}

.produitbas{
  padding-top: 15%;
}

/* custom */

.custom{
}


/*formulaire de contact*/

.contact-form .form-control{
    border-radius:1rem;
}

.contact-form form{
    padding-right: 15%;
    padding-left: 15%;

}
.contact-form form .row{
    margin-bottom: -7%;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.contact{
  background-image: url(../../images/fondNoir.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

/* footer */

.footer-social{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.fa{
    font-size: 36px;
    margin-right: 2%;
    margin-left: 2%;
    background-color: white;
    color: #d0d0d0;
    border-radius: 51%;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition:color 0.2s;
}

.fa-facebook:hover{
   color: #2b55ff;
}

.fa-facebook:focus{
    color: #2b55ff; 
}

.fa-google:hover{
    color:red;
}

.fa-google:focus{
    color:red;
}

.fa-instagram:hover{
    color: #F36741;

}

.fa-instagram:focus{
    color:#F36741;
}

#parallax-container {
   height: 100vh;
}

#parallax-container div {
   position: absolute;
   top :0;
   width: 100%;
   height:100vh;
   background-position: center;
   transform: translateY(0px);
   background-size: cover !important;
   margin: 0;
   background-repeat: no-repeat;
}

#content {
}

.parallax1{
  background: url(../../images/popfond.jpg);
}

.parallax2{
  background: url(../../images/popfond.jpg);

}

.parallax3{
  background: url(../../images/popdecoupe.png);
}

